body {
    font-family: "Times New Roman", sans-serif;
}
/* Styling the header*/


.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

    .sidenav a {
        padding: 8px 8px 8px 32px;
        text-decoration: none;
        font-size: 25px;
        color: #818181;
        display: block;
        transition: 0.3s;
    }

        .sidenav a:hover {
            color: #f1f1f1;
        }

    .sidenav .closebtn {
        position: absolute;
        top: 0;
        right: 25px;
        font-size: 36px;
        margin-left: 50px;
    }
div.c {
    font-size: 150%;
}
@media screen and (max-height: 450px) {
    .sidenav {
        padding-top: 15px;
    }

        .sidenav a {
            font-size: 18px;
        }
}

body {
    background-image: url("");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-color: black;
}

.sidenav {
    align-content: right;
}

table, th, td  {
    border:  1px solid black;
}



* {
    box-sizing: border-box;
}

/* Create two equal columns that floats next to each other */
.column {
    float: left;
    width: 50%;
    padding: 10px;
    height: 300px; /* Should be removed. Only for demonstration */
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}

#img-link, #img-link img {
    text-decoration: none !important;
    border: 0px !important;
    outline: none;
    border-width: 0px;
    outline-width: 0px;
    border-bottom: none;
}

a href.social-links {
    padding = none;
    margin = 10px;
}

.fa-twitter {
    background: #55ACEE;
    color: white;
    padding= 15px; margin= 10px;
}

.fa-linkedin {
    background: #007bb5;
    color: white;
    padding= 15px; margin= 10px;
}

.fa-youtube {
    background: #bb0000;
    color: white;
    padding= 15px; margin= 10px;
}

.fa-instagram {
    background: #125688;
    color: white;
    padding= 15px; margin= 10px;
}
a href.social-links {
     padding= 15px; margin= 10px;
    }